@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Outfit:wght@400;700&family=Overpass:wght@400;700&family=Rubik:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Kodchasan:wght@600&family=Outfit:wght@400;700&family=Overpass:wght@400;700&family=Rubik:wght@400;500;700&display=swap");

:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --heading_color: #37135c;
  --header_background: #9051bd;
}
/* Global variables */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
.animated-element {
  animation: scale 400ms ease-in-out;
}
.image {
  position: absolute;
  top: 150px;
  right: 10%;
  z-index: 20;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.section-hedding {
  font-family: "Inter", sans-serif;
  color: var(--heading_color);
  font-size: 40px;
  padding-left: 50px 50px 0px 0px;
}
.subSection {
  color: var(--heading_color);
  font-size: 20px;
  padding-left: 50px;
}
.link_button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/* Header CSS */
header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  background-color: var(--header_background);
}

header p {
  font-size: 20px;
  font-weight: 800;
  color: var(--white);
}
header span {
  color: rgb(186, 186, 243);
}
header img {
  width: 30px;
  height: 30px;
}
/* header nav {
  position: relative;
} */
/* header nav ul {
  position: absolute;
  top: -50px;
  right: -600px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c581fc;
  width: 500px;
  height: 100vh;
  border-radius: 50% 0 0 50%;
  list-style: none;
  transition: all 100ms ease-in-out;
} */
/* header nav ul li {
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  transition: all 100ms ease-in;
  color:var(--white);
}
header nav ul li:hover {
  color: rgb(25, 4, 59);
} */

/* NavBar animations */
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.menu-icon:checked + label,
.menu-icon:not(:checked) + label {
  position: fixed;
  top: 20px;
  right: 20px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 10;
}
.menu-icon:checked + label:before,
.menu-icon:not(:checked) + label:before {
  position: absolute;
  content: "";
  display: block;
  width: 30px;
  height: 20px;
  z-index: 20;
  top: 0;
  left: 0;
  border-top: 2px solid #ececee;
  border-bottom: 2px solid #ececee;
  transition: border-width 100ms 1500ms ease,
    top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
    height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
    background-color 200ms ease, transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after,
.menu-icon:not(:checked) + label:after {
  position: absolute;
  content: "";
  display: block;
  width: 22px;
  height: 2px;
  z-index: 20;
  top: 10px;
  right: 4px;
  background-color: #ececee;
  margin-top: -1px;
  transition: width 100ms 1750ms ease, right 100ms 1750ms ease,
    margin-top 100ms ease, transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:before {
  top: 10px;
  transform: rotate(45deg);
  height: 2px;
  background-color: #ececee;
  border-width: 0;
  transition: border-width 100ms 340ms ease,
    top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    background-color 200ms 500ms ease,
    transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after {
  width: 30px;
  margin-top: 0;
  right: 0;
  transform: rotate(-45deg);
  transition: width 100ms ease, right 100ms ease, margin-top 100ms 500ms ease,
    transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav {
  position: fixed;
  top: -50px;
  right: -50px;
  display: block;
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
  z-index: 9;
  overflow: hidden;
  box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.3);
  background-color: #0f1035;
  /* background-image: url('./Images/star.png'); */
  animation: border-transform 7s linear infinite;
  transition: top 350ms 500ms cubic-bezier(0.23, 1, 0.32, 1),
    right 350ms 500ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 250ms 1100ms ease,
    width 550ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
    height 550ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
  /* transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),  
              right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 250ms 1100ms ease,
              width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
              height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1); */
}
@keyframes border-transform {
  0%,
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }
  /* 14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
  28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
  42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
  56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
  70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
  84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; }  */
}

.menu-icon:checked ~ .nav {
  animation-play-state: paused;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 200%;
  height: 200%;
  transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
    right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1), transform 250ms 700ms ease,
    width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1),
    height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav ul {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 6;
  text-align: center;
  transform: translateY(-50%);
  list-style: none;
}
.nav ul li {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  margin: 10px 0;
  text-align: center;
  list-style: none;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: all 350ms linear;
}
.nav ul li:nth-child(1) {
  transition-delay: 300ms;
}
.nav ul li:nth-child(2) {
  transition-delay: 250ms;
}
.nav ul li:nth-child(3) {
  transition-delay: 200ms;
}
.nav ul li:nth-child(4) {
  transition-delay: 150ms;
}
.nav ul li:nth-child(5) {
  transition-delay: 100ms;
}
.nav ul li:nth-child(6) {
  transition-delay: 50ms;
}
.nav ul li a {
  font-family: "Montserrat", sans-serif;
  font-size: 9vh;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 800;
  display: inline-block;
  position: relative;
  color: #ececee;
  transition: all 250ms linear;
}
.nav ul li a:hover {
  text-decoration: none;
  color: #f15858;
}
.nav ul li a:after {
  display: block;
  position: absolute;
  top: 50%;
  content: "";
  height: 2vh;
  margin-top: -1vh;
  width: 0;
  left: 0;
  background-color: #ffe603;
  opacity: 0.8;
  transition: width 350ms linear;
}
.nav ul li a:hover:after {
  width: 100%;
}

.menu-icon:checked ~ .nav ul li {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 350ms ease, transform 250ms ease;
}
.menu-icon:checked ~ .nav ul li:nth-child(1) {
  transition-delay: 1400ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(2) {
  transition-delay: 1480ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(3) {
  transition-delay: 1560ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(4) {
  transition-delay: 1640ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(5) {
  transition-delay: 1720ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(6) {
  transition-delay: 1800ms;
}
/* End of the Nav animation */

.headerSection {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0px 20px;
  align-items: center;
}
.headerSection p{
  font-family: "Inter", sans-serif;
}
.headerSection img {
  width: 30px;
}
.menuImg {
  padding: 20px 0px;
  cursor: pointer;
}
.upper-container {
  background-image: linear-gradient(180deg, #9858c7, #3e1a62);
}
.main-container {
  height: 600px;
  border-radius: 40px;
  width: 100%;
}
.circle {
  width: 300px;
  height: 300px;
  background-color: #c790ee;
  border-radius: 50%;
  position: absolute;
  top: 120px;
  right: 10%;
  z-index: 10;
}
.main-container h1 {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: var(--white);
  font-size: 220px;
  font-family: "Inter", sans-serif;
  margin: 0px;
  right: 20%;
}
.main-container h3 {
  font-size: 100px;
  font-family: "Inter", sans-serif;
  color: var(--white);
  margin: 0 40px;
}
.sub-section {
  margin: 0;
}
.sub-section img {
  top: 280px;
  left: 170px;
}
.main-container p {
  font-size: 30px;
  font-family: "Kodchasan", sans-serif;
  margin: 0%;
  position: absolute;
  top: 370px;
  left: 80px;
  color: var(--white);
}
.main-container span {
  color: #421d66;
}
.right-part {
  height: 450px;
  width: 40px;
  background-color: var(--white);
  margin-top: 50px;
}
.left-part {
  height: 160px;
  width: 40px;
  background-color: var(--white);
  margin-top: 50px;
}
.middle-part {
  height: 32px;
  width: 80px;
  background-color: var(--white);
  margin-top: 120px;
}
.letter {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 250px;
  top: 250px;
  z-index: 10;
}

.star {
  position: absolute;
  top: 150px;
  right: 50px;
  width: 20px;
  animation: blink 15s infinite;
}
.star-left {
  left: 200px;
  width: 30px;
  animation: blink 5s infinite;
}
.star-left-down {
  top: 500px;
  left: 400px;
  width: 20px;
  animation: blink 20s infinite;
}

/* Social Links */
.links {
  top: 0px;
  left: 0px;
  padding-top: 50px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 100%;
}
.links img {
  width: 30px;
  padding: 10px;
}
.links img:hover {
  animation: shake-rotate 0.5s ease-in-out;
}
.custom-shape-divider-top-1702990715 {
  position: absolute;
  top: 600px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1702990715 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1702990715 .shape-fill {
  fill: #3f1c61;
}

/* skill section CSS */
#skils-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
#skils-section h4 {
  font-family: "Kodchasan", sans-serif;
}
.grid-img {
  width: 100px;
}
.grid-div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* About section CSS */
.second-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  margin-top: 10rem;
  padding-top: 50px;
}

.about-parent {
  margin-top: 5rem;
  display: grid;
  max-width: 600px;
  height: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.aboutImgDiv {
  grid-area: 1 / 1 / 4 / 2;
}
.aboutImgDiv img {
  width: auto;
  height: 400px;
  margin-left: 0px;
  border: 2px solid rgb(70, 3, 70);
  border-radius: 2rem;
}
.about-div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.about-div2 {
  display: flex;
  flex-direction: row;
}
.about-div2 img {
  height: 50px;
  margin-left: 5px;
}
.about-div2 h1 {
  font-family: "Inter", sans-serif;
  font-size: 12rem;
  margin: 0 20px;
  color: #421d66;
}
.about-name {
  grid-area: 2 / 2 / 4 / 3;
}
.about-name h1 {
  font-family: "Inter", sans-serif;
  transform: rotate(270deg);
  color: #3f1c61;
  font-size: 70px;
  padding-bottom: 10px;
}
.about-para {
  grid-area: 1 / 3 / 4 / 4;
}
.about-para p {
  padding: 50px 0px;
  width: 350px;
  font-size: 20px;
  font-family: "Kodchasan", sans-serif;
  margin-left: 3rem;
}

/* Education section CSS */
#education-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 99vh;
}
.margin-top {
  border-top: 5px solid purple;
  border-top-style: dashed;
}
.margin-bottom {
  border-bottom: 5px solid purple;
  border-bottom-style: dashed;
}
.margin-left {
  border-left: 5px solid purple;
  border-left-style: dashed;
}
.margin-right {
  border-right: 5px solid purple;
  border-right-style: dashed;
}
.style-padding {
  padding: 3rem;
}
.style-padding-left {
  padding: 3rem 3rem 3rem 0;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.education-parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: -50px;
  width: 50vw;
}
.edu-logo {
  font-family: "Inter", sans-serif;
  font-size: 50px;
  font-weight: bold;
  background-color: rgb(186, 186, 243);
  padding: 20px;
  border-radius: 50%;
  position: absolute;
  top: -20px;
  left: -55px;
}
.edu_logoR {
  font-family: "Inter", sans-serif;
  font-size: 50px;
  font-weight: bold;
  background-color: rgb(186, 186, 243);
  padding: 20px;
  border-radius: 50%;
  position: absolute;
  top: -40px;
  right: -55px;
}
.edu-relative {
  position: relative;
}
.education h3 {
  font-family: "Inter", sans-serif;
}
.education p {
  font-family: "Kodchasan", sans-serif;
}
.edu-div1 {
  grid-area: 1 / 1 / 2 / 2;
  padding: 10px;
  border-bottom-left-radius: 40px;
  padding-left: 80px;
}
.edu-div2 {
  grid-area: 2 / 2 / 3 / 3;
  padding: 12px;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  padding: 0 80px;
}
.edu-div3 {
  grid-area: 3 / 1 / 4 / 2;
  padding: 10px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  padding-left: 80px;
}

/* Project section CSS */
#project-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
  margin-bottom: 50px;
}
#project-section h3 {
  font-family: "Kodchasan", sans-serif;
}

.project-parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 36px;
  grid-row-gap: 27px;
  height: 100%;
  width: auto;
  justify-content: center;
  align-items: center;
}
.project-parent img {
  width: 280px;
  border-radius: 20px;
}
.project-parent a {
  font-family: "Kodchasan", sans-serif;
}
.project-parent button {
  border-radius: 20px;
}
.project-parent h1 {
  color: var(--heading_color);
  font-family: "inter", sans-serif;
}

.tecnology {
  padding: 0px 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.tecnology p {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  margin: 0;
  color: var(--header_background);
}
.grid-item {
  width: 100%;
  word-wrap: break-word;
  height: auto;
}
.grid-item p {
  font-family: "Inter", sans-serif;
  font-weight: 100;
  text-align: center;
  line-height: 1.5;
  color: var(--heading_color);
  font-size: 15px;
  font-weight: 400;
  padding-bottom: 10px;
}
.project-center {
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 300px;
  height: 430px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px 20px;
  border-radius: 30px;
}

/* Contact us CSS */

#homeButton {
  display: inline-block;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

#homeButton:hover {
  transform: scale(1.1);
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 90vh;
  align-items: center;
}

.form-container {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  max-width: 400px;
}

.form-container button {
  border-radius: 15px;
  padding: 10px 20px;
  background-color: #9d76c1;
  color: white;
}

#userForm {
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(236, 198, 198, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.7px);
  -webkit-backdrop-filter: blur(6.7px);
  border: 3px solid rgba(255, 255, 255, 0.47);
  color: white;
}

.neon-text {
  width: fit-content;
  max-width: 200px;
  border: 1px solid white;
  border-radius: 20px 20px 20px 0;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Arial", sans-serif;
  font-size: 20px;
  color: #fdf7ff; /* Purple color */
  position: relative;
  left: 185px;
  top: -208px;
  padding: 10px 20px;
  text-shadow: 0 0 5px #8e44ad, 0 0 10px #8e44ad, 0 0 15px #8e44ad; /* Outer glow */
}

.neon-text::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  max-width: 50px;
  height: 100%;
  z-index: -1;
  filter: blur(10px);
}

#cursor {
  display: inline-block;
  height: 1em;
  width: 0.2em;
  background-color: var(--white);
  animation: blinkCursor 0.7s infinite;
}

.imgcontainer {
  max-width: 350px;
  text-align: center;
}

.imgcontainer div {
  bottom: 100px;
}

.imgcontainer img {
  bottom: 0;
  width: 100%;
}

.input-container {
  position: relative;
  margin: 50px auto;
  width: 200px;
}

.input-container input[type="email"] {
  font-size: 18px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
  color: var(--white);
}

.input-container input[type="text"] {
  font-size: 18px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
  color: var(--white);
}

.input-container .label {
  position: absolute;
  top: 0;
  left: 0;
  color: #ccc;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-container input[type="text"]:focus ~ .label,
.input-container input[type="text"]:valid ~ .label {
  top: -20px;
  font-size: 16px;
  color: #cd62ff;
}

.input-container input[type="email"]:focus ~ .label,
.input-container input[type="email"]:valid ~ .label {
  top: -20px;
  font-size: 16px;
  color: #cd62ff;
}

.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #cd62ff;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.input-container input[type="text"]:focus ~ .underline,
.input-container input[type="text"]:valid ~ .underline {
  transform: scaleX(1);
  border-bottom: none;
}

.input-container input[type="email"]:focus ~ .underline,
.input-container input[type="email"]:valid ~ .underline {
  transform: scaleX(1);
}

.formBtn {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

label {
  display: block;
  margin-bottom: 8px;
}

button {
  color: var(--white);
  width: 100px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

#contact_us {
  
  height: 90vh;
  background-image: linear-gradient(180deg, #9858c7, #3e1a62);
  padding: 0 20px;
}

#contact_us h2 {
  padding-top: 50px;
  margin-bottom: 0px;
  color: var(--white);
  display: none;
}

.button {
  display: flex;
  text-decoration: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  color: var(--white);
  background-color: #9f6fec;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  width: fit-content;
  border-radius: 50px;
}

.button img {
  width: 20px;
  height: auto;
  padding-left: 10px;
}

.button:hover {
  background-color: #372063;
}

/* Footer section CSS */
footer {
  font-family: "Kodchasan", sans-serif;
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
  background-color: #3e1a62;
  color: var(--white);
  padding: 0px 10% 10px 10%;
}
footer p {
  font-size: 14px;
  letter-spacing: 2px;
  text-align: center;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1024px) {
  .nav ul li a {
    font-size: 6vh;
  }
  .subSection {
    padding-left: 0px;
  }
  .section-hedding {
    font-size: 30px;
  }
  #skils-section {
    height: 100%;
  }
  .star-left-down {
    left: 10%;
  }
  .about-parent {
    height: 80%;
    width: 300px;
  }
  .aboutImgDiv img {
    width: auto;
    height: 180px;
    margin-left: 50px;
    border-radius: 2rem;
  }
  .about-para {
    grid-area: 4 / 1 / 4 / 4;
  }
  .about-div2 img {
    height: 20px;
    margin-left: 5px;
  }
  .about-div2 h1 {
    font-size: 5rem;
    margin: 0 10px;
  }
  .about-name h1 {
    font-size: 35px;
  }
  .about-para p {
    width: 220px;
    height: 100%;
    margin: 40px;
    text-align: center;
    margin-top: 0;
    font-size: 15px;
    padding-top: 0px;
  }
  .project-parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  #project-section {
    padding: 50px 0px;
  }
  .project-center {
    max-width: 280px;
  }
  .sub-section img {
    left: 85px;
    width: 15px;
    top: 150px;
  }
  .sub-section h3 {
    font-size: 70px;
  }

  .main-container p {
    font-size: 22px;
    top: 240px;
    left: 15px;
    color: var(--white);
  }
  .Img-width {
    width: 220px;
  }
  .circle {
    width: 200px;
    height: 240px;
    top: 90px;
    right: 12%;
  }

  .letter {
    display: flex;
    flex-direction: colomn;
    position: absolute;
    right: 200px;
    top: 280px;
    max-width: 380px;
    z-index: 10;
  }
  .main-container h1 {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--white);
    font-size: 120px;
    font-family: "Inter", sans-serif;
    margin: 0px;
    right: 20%;
  }
  .right-part {
    height: 450px;
    width: 19px;
    margin-top: 26px;
  }
  .left-part {
    height: 90px;
    width: 17px;
    margin-top: 26px;
  }
  .middle-part {
    height: 17px;
    width: 35px;
    margin-top: 65px;
  }
  .second-container {
    margin-top: 10rem;
    display: flex;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  #contact_us {
    height: 100%;
    margin-top: 20px;
  }
  .hidden {
    display: none;
  }
  .parent-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  /* .form_class {
    max-width: 270px;
    height: 100%;
    padding: 20px;
    margin: 20px 0%;
  } */
  /* Contact us CSS */
  .container {
    flex-direction: column-reverse;
  }
  .links {
    display: none;
  }
  .imgcontainer {
    max-width: 190px;
  }
  .neon-text {
    left: 122px;
    top: -132px;
  }

  .back {
    display: none;
  }
  footer p {
    font-size: 10px;
    letter-spacing: 1px;
  }
}

/** For mobile devices **/
@media (max-width: 767px) {
  /* header nav ul {
    top: -50px;
    left: 0px;
    align-items: end;
    padding-right: 15px;
    width: 300px;
    height: 101vh;
  } */
  .nav ul li a {
    font-size: 3vh;
  }
  .star {
    margin-top: 50px;
    width: 6px;
  }
  .star-left {
    left: 220px;
    width: 12px;
  }
  .star-left-down {
    left: 50px;
    width: 10px;
    margin-top: 150px;
  }
  .subSection {
    padding-left: 0px;
  }
  .section-hedding {
    font-size: 30px;
  }
  #skils-section {
    height: 100%;
  }

  .about-parent {
    height: 80%;
    width: 300px;
  }
  .aboutImgDiv img {
    width: auto;
    height: 180px;
    margin-left: 50px;
    border-radius: 2rem;
  }
  .about-para {
    grid-area: 4 / 1 / 4 / 4;
  }
  .about-div2 img {
    height: 20px;
    margin-left: 5px;
  }
  .about-div2 h1 {
    font-size: 5rem;
    margin: 0 10px;
  }
  .about-name h1 {
    font-size: 35px;
  }
  .about-para p {
    width: 220px;
    height: 100%;
    margin: 40px;
    text-align: center;
    margin-top: 0;
    font-size: 15px;
    padding-top: 0px;
  }
  .project-parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .project-parent h1{
   font-size: larger;
  }
  .project-parent a{
   font-size: small;
  }
  .tecnology p{
   font-size: medium;
  }

  #project-section {
    padding: 50px 0px;
  }
  .project-center {
    max-width: 280px;
  }
  #education-section {
    padding-top: 20px;
  }
  .education-parent {
    width: 220px;
  }
  .edu-logo {
    font-size: 25px;
    top: 15px;
    left: -40px;
  }
  .edu_logoR {
    font-size: 25px;
    font-weight: bold;
    top: 15px;
    right: -40px;
  }

  .edu-div1 {
    padding: 10px;
    border-bottom-left-radius: 40px;
    padding-left: 40px;
    margin-left: -15px;
  }
  .edu-div2 {
    grid-area: 2 / 1 / 3/ 3;
    padding: 12px;
    padding: 0 25px;
    border-bottom: none;
    border-top: none;
    margin-right: -20px;
  }
  .edu-div3 {
    padding: 10px;
    padding-left: 40px;
    margin-left: -15px;
  }

  .grid-img {
    width: 80px;
  }
  .grid-item p{
    font-size: small;
    padding: 4px;
  }
  .grid-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .light {
    width: 50px;
  }

  .sub-section img {
    left: 75px;
    width: 15px;
  }
  .sub-section h3 {
    font-size: 70px;
  }
  .circle {
    top: 110px;
    right: 2%;
    z-index: 10;
  }
  .main-container {
    height: 450px;
    border-radius: 40px;
    width: 100%;
  }
  .main-container img {
    position: absolute;
    top: 120px;
    right: 2px;
    z-index: 20;
  }
  .align-top {
    top: 120px;
  }
  .main-container p {
    font-size: 20px;
    top: 220px;
    left: 10px;
    color: var(--white);
  }
  .Img-width {
    width: 150px;
  }
  .circle {
    width: 160px;
    height: 180px;
    top: 80px;
    right: 3%;
  }

  .letter {
    display: flex;
    flex-direction: colomn;
    position: absolute;
    right: 35px;
    top: 180px;
    max-width: 320px;
    z-index: 10;
  }
  .main-container h1 {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--white);
    font-size: 100px;
    font-family: "Inter", sans-serif;
    margin: 0px;
    right: 20%;
  }
  .right-part {
    height: 400px;
    width: 19px;
    margin-top: 25px;
  }
  .left-part {
    height: 75px;
    width: 17px;
    margin-top: 25px;
  }
  .middle-part {
    height: 17px;
    width: 25px;
    margin-top: 55px;
  }
  .links {
    display: none;
  }
  .custom-shape-divider-top-1702990715 {
    top: 450px;
  }

  .custom-shape-divider-top-1702990715 svg {
    width: calc(112% + 1.3px);
    height: 150px;
  }

  .second-container {
    margin-top: 10rem;
    display: flex;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  #contact_us {
    height: 100vh;
    margin-top: 20px;
  }
  #contact_us h2 {
    display: none;
  }
  .parent-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* .form_class {
    max-width: 270px;
    height: 100%;
    padding: 20px;
    margin: 20px 0%;
    margin-top: 100px;
  } */
  /* Contact us section */
  .container {
    flex-direction: column-reverse;
    height: 60vh;
    position: absolute;
    bottom: 100px;
    left: 0;
  }
  #contact_us {
    flex-direction: column;
    position: relative;
  }
  .imgcontainer img {
    width: 60%;
  }
  .neon-text {
    max-width: 140px;
    font-size: 1em;
    top: -149px;
    left: 179px;
    padding: 10px 10px;
    z-index: 10;
  }
  .input-container {
    margin: 30px auto 20px;
  }
  .form-container {
    padding: 0px;
    max-width: 300px;
  }
  .input-container input[type="email"] {
    font-size: 14px;
  }
  .input-container input[type="text"] {
    font-size: 14px;
  }

  .form_class input,
  textarea {
    border-radius: 15px;
    border: 0px;
  }
  .back {
    display: none;
  }
  footer p {
    font-size: 10px;
    letter-spacing: 1px;
  }
}

/* Animation for stars */
@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

/* Animation for Circle */
@keyframes scale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Animation for Links */
@keyframes shake-rotate {
  0%,
  100% {
    transform: translateX(0) rotate(0deg);
  }
  25% {
    transform: translateX(-5px) rotate(-5deg);
  }
  50% {
    transform: translateX(5px) rotate(5deg);
  }
  75% {
    transform: translateX(-5px) rotate(-5deg);
  }
}
/* Animation for text neon glow effect */
@keyframes neon-glow {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

/* Animation for blink cursor */
@keyframes blinkCursor {
  0%,
  50% {
    opacity: 0;
  }
  51%,
  100% {
    opacity: 1;
  }
}
